<section class="post-comments">
    <div id="gitalk-container"></div>
    <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
    <script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
    <script>
    var gitalk = new Gitalk({
        id: '{{ page.url | truncate: 50, '' }}',
        clientID: '{{ site.comment.gitalk.clientID }}',
        clientSecret: '{{ site.comment.gitalk.clientSecret }}',
        repo: '{{ site.comment.gitalk.repo }}',
        owner: '{{ site.comment.gitalk.owner }}',
        admin: ['{{ site.comment.gitalk.owner }}'],
        labels: ['gitment'],
        perPage: 50,
    })
    gitalk.render('gitalk-container')
    </script>
</section>
